* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
margin:0;
padding:0;
}
table {
border-collapse:collapse;
border-spacing:0;
}
fieldset,img {
border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
font-style:normal;
font-weight:normal;
}
ol,ul {
list-style:none;
}
caption {
text-align:left;
}
h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:normal;
}
q:before,q:after {
content:'';
}
abbr,acronym { border:0;}


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites, like, say for Google Maps custom placemarkers.
   There has been a report of problems with standard Google maps as well, but we haven't been able to duplicate or diagnose the issue. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted.
  don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  /*white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

body {
  background: #16171D url(/assets/images/background.png);
  font-family: sans-serif;
  font-size: 16px;
  color: #C7C8D4;
  padding: 2vmin;
}

body > header {
  background: #171A2F;
  padding: 1.5vmin;
  text-align: center;
  border-bottom: solid 1px #000;
  box-shadow: inset 0 -2px 1px rgba(255, 255, 255, .03);
  margin-bottom: 2em;
  margin: -2vmin -2vmin 2vmin -2vmin;
}

body > header h1 {
  font-size: 4.5vmin;
  font-weight: bold;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
}

body > header a,
body > header a:visited {
  color: #ABB5FA;
  text-decoration: none;
}

body > header a:hover,
body > header a:focus {
  color: #FFF;
}

a {
  color: #2C49FF;
  text-decoration: none;
}

a:visited {
  color: #7224FF;
}

a:focus, a:hover {
  text-decoration: underline;
}

a:active {
  background-color: #FFF;
}

section[role=document] {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}

article {
  background: #0F0F14;
  background: rgba(15, 15, 20, 0.85);
  border: solid 2px rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 1vmin 5px rgba(0, 0, 0, .25);
  padding: 1.5em;
  position: relative;
  margin-bottom: 2vmin;
}

article:before {
  position: absolute;
  content: ' ';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-color:  transparent transparent #2C49FF transparent;
  border-width: 0 25px 25px 25px;
  top: -4px;
  right: -17px;
  transform: rotate(45deg);
}

article > :first-child {
  margin-top: -0.5rem;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-weight: bold;
  line-height: 1.3;
}

article h1,
article h2 {
  color: #FFF;
}

article h3,
article h4 {
  /*color: #DDDEE5;*/
}

article h1,
article h2,
article h3 {
  margin-bottom: 1rem;
}

article h1 {
  font-size: 240%;
}

article h1:first-child a {
  text-decoration: none;
  color: #2C49FF;
}

article h1:first-child a:hover,
article h1:first-child a:focus {
  text-decoration: underline;
}

article h2 {
  font-size: 175%;
}

article h3 {
  font-size: 130%;
}

article h4 {
  font-size: 110%;
}

article h5 {
  font-size: 105%;
}

article h6 {
  font-size: 100%;
}

article p {
  line-height: 1.5;
  margin-bottom: 1.5em;
}

article ol,
article ul {
  padding-left: 2em;
  margin-bottom: 1.5em;
}

article ul {
  list-style-type: disc;
}


article ol {
  list-style-type: decimal;
}

article li {
  margin-bottom: 0.5em;
}

article li ul {
  margin-top: 0.5em;
  border-left: solid 3px #1F1E2F;
}

article strong {
  font-weight: bold;
  color: #FFF;
}

article em {
  font-style: italic;
}

article sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

article sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}

article footer.meta {
  color: #999;
  font-size: 75%;
  padding-bottom: 0.5em;
  border-bottom: solid 1px rgba(255, 255, 255, 0.05);
  margin-bottom: 1rem;
}

article > :last-child,
article .entry-content > :last-child {
  margin-bottom: 0;
}

article hr {
  border-color: #333;
  border-width: 4px;
  margin: 4vmin 0;
}

article figure {
  display: block;
  margin: 1em auto;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);
  max-width: 300px;
}

article figure.enlargable > a {
  cursor: zoom-in;
}

article figure img {
  display: block;
  margin-bottom: 0;
  background: #16171D;
}

article figcaption {
  background: #1F1E2F;
  font-weight: bold;
  padding: 0.5em 0.25em;
  font-size: 75%;
  text-align: center;
  line-height: 1.5;
}

article figcaption a {
  color: #5F75FF;
}

article figcaption a:visited {
  color: #9357FF;
}

article table {
  border-left: solid 2px #2C49FF;
  margin: 1em auto;
}

article table td,
article table th {
  padding: 0.25em 0.5em;
  min-width: 2.5em;
}

article table th {
  background: #2C49FF;
  color: #FFF;
  padding-top: 0.5em;
}

article table th:nth-child(even) {
  background: #2542ff;
}

article table td {
  border-right: solid 1px #2b2e39;
}

article table td:last-child {
  border-right: none;
}

article table tr:hover td,
article table tr:nth-child(even):hover td {
  background: #191d2d;
}

article table tr:nth-child(even) td {
  background: #1a1b22;
}

body > footer {
  font-size: 90%;
  text-align: center;
  display: block;
  max-width: 600px;
  margin: 0 auto 2vmin auto;
  padding: 2vmin;
  background-color: #1C1C21;
  background-color: rgba(28, 28, 33, 0.85);
  border: solid 2px #0F0F14;
}

body > footer p,
body > footer nav {
  margin-bottom: 1em;
}

body > footer > p:last-child {
  margin-bottom: 0;
}


body > footer a,
body > footer a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #2C49FF;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .8);
}

@media all and (min-width: 550px) {
  article figure {
    float: right;
    margin: 0 0 1em 1em;
    clear: right;
  }

  article figure.wide, article figure.full-width {
    float: none;
    width: 80%;
    margin: 1em auto;
    max-width: 100%;
  }

  article figure.full-width {
    width: 100%;
  }

  article figure.wide img ,
  article figure.full-width img {
      margin: 0 auto;
  }

  article hr {
    clear: right;
  }
}

